<li id="<%= dom_id todo %>" class="editing">
  <%= form_for todo do |form| %>
    <%= form.text_field :title,
      required: true,
      class: 'edit',
      data: { controller: 'input-focus' }
    %>
  <% end %>
</li>
