<footer class="footer">
  <ul class="filters">
    <li><%= link_to 'All', todos_path, class: filter_class(nil) %></li>
    <li><%= link_to 'Active', active_todos_path, class: filter_class('active') %></li>
    <li><%= link_to 'Completed', completed_todos_path, class: filter_class('completed') %></li>
  </ul>
</footer>
