<header class="header">
  <h1>todos</h1>
  <%= form_with(model: Todo.new, id: 'new-todo') do |form| %>
    <%= form.text_field :title, autofocus: true, class: "new-todo", placeholder:"What needs to be done ?" %>
  <% end %>
</header>
